body,
html {
    height: 100vh;
    /* This will make sure that your whole page is exactly the height of the viewport */
    margin: 0;
    overflow: hidden;
    /* This prevents scrolling */
}

.contact-container {
    margin-top: 60px;
    /* This should be greater than the height of your navbar */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Rest of your styles */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: black;
    /* Blue color when focused */
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}