body {

    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.brand, nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

@media (max-width: 400px) {
    .container {
        width: 95%;
    }
    .brand, nav a {
        font-size: 12px;
        margin-left: 10px;
    }
}
