.project-card {
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 20px;
    box-sizing: border-box; /* Ensures padding and border are included in total width and height */
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-top-left-radius: 8px; /* Match your card's border radius */
    border-top-right-radius: 8px; /* Match your card's border radius */
}

.project-title {
    font-size: 20px;
    margin: 16px;
}

.project-description {
    margin: 16px;
    color: #586069;
    font-size: 16px;
}

.project-link {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: black;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

/* Adjusting the grid for tablets */
@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* Adjusting the grid and font sizes for mobile */
@media (max-width: 480px) {
    .projects-container {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .project-card {
        margin: 10px;
    }

    .project-title {
        font-size: 18px;
        margin: 12px;
    }

    .project-description {
        margin: 12px;
        font-size: 14px;
    }
}
