.project-card {
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 20px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-title {
    font-size: 20px;
    margin: 16px;
}

.project-description {
    margin: 16px;
    color: #586069;
    font-size: 16px;
}

.project-link {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: black;
}

/* .project-screenshot {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-screenshot:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
} */

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* By default it will have 5 columns */
    gap: 20px;  /* This will create space between grid items */
    padding: 20px;  /* Optional padding around the entire grid */
}

/* Adjusting the grid for smaller screens */
@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);  /* On smaller screens it will have 2 columns */
    }
}

