.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f7f8fa;
    height: 100vh;
    justify-content: center;
  }
  
  .resume-image {
    max-width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .download-btn {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .download-btn:hover {
    background-color: black;
  }
  